[my_server]
{% for i in ip %}
  {{i}}
{% endfor %}
[all:vars]
ansible_connection=ssh
ansible_user={{user}}
ansible_ssh_pass={{password}}
ansible_sudo_pass={{password}}
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

